<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>

	<f:metadata>
		<f:viewParam name="id" value="#{personaController.id}"></f:viewParam>
		<f:viewAction action="#{personaController.loadDatos()}"/>
	</f:metadata>

</h:head> 

<body> 

<h:form>

	<h:messages globalOnly="true"/>

	<h:panelGrid columns="3">
		<h:outputLabel value="Codigo" />
		<h:inputText value="#{personaController.persona.codigo}" id="txtCodigo"/>
		<h:message for="txtCodigo"/>
		
		<h:outputLabel value="Nombre" />
		<h:inputText value="#{personaController.persona.nombre}" id="txtNombre" />
		<h:message for="txtNombre"/>
		<h:outputLabel value="Telefonos" />
		
		<h:dataTable value="#{personaController.persona.telefonos}" var="telefono">
			<h:column>
				<f:facet name="header">Código</f:facet>
				<h:inputText value="#{telefono.codigo}" id="txtCodigoTelefono" />
				<h:message for="txtCodigoTelefono"/>
			</h:column>
			<h:column>
				<f:facet name="header">Número</f:facet>
				<h:inputText value="#{telefono.numero}" id="txtNumeroTelefono"/>
				<h:message for="txtNumeroTelefono"/>
			</h:column>
			<h:column>
				<f:facet name="header">Tipo</f:facet>
				<h:inputText value="#{telefono.codigoTipoTemporal}" id="txtTipoTelefono" >
					<f:ajax render="lblTipoTelefonoNombre" execute="txtTipoTelefono" listener="#{personaController.buscarTelefono(telefono)}" />
				</h:inputText>
				<h:outputText id="lblTipoTelefonoNombre" value="#{telefono.tipo.nombre}" />
				<h:message for="txtTipoTelefono"/>
			</h:column>
		
		</h:dataTable>
		<h:commandButton action="#{personaController.addTelefono()}" value="+ Telefono" />
		
		
	
		<h:outputText value="" />
		<h:commandButton action="#{personaController.cargarDatos()}" value="Guardar" />
		
		
	
	</h:panelGrid>
	
	
	<h:dataTable value="#{personaController.listadoPersonas}" var="persona">
		<h:column>
			<f:facet name="header">Código</f:facet>
			#{persona.codigo}
		</h:column>
		<h:column>
			<f:facet name="header">Nombre</f:facet>
			#{persona.nombre}
		</h:column>
		<h:column>
			<f:facet name="header">Acciones</f:facet>
			<h:commandButton action="#{personaController.editar(persona.codigo)}" immediate="true" value="Editar" />
			<h:commandButton action="#{personaController.borrar(persona.codigo)}" immediate="true" value="Borrar" />
			
		</h:column>
	
	</h:dataTable>


</h:form>


</body> 
</html>
