<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>


</h:head> 

<body> 

<h:form>

	<h:messages globalOnly="true"/>

	<h:panelGrid columns="3">
		<h:outputLabel value="Codigo" />
		<h:inputText value="#{telefonoController.telefono.codigo}" id="txtCodigo"/>
		<h:message for="txtCodigo"/>
		
		<h:outputLabel value="Numero" />
		<h:inputText value="#{telefonoController.telefono.numero}" id="txtNombre" />
		<h:message for="txtNombre"/>
		<h:outputLabel value="Telefonos" />
		
		
		<h:outputLabel value="Persona" />
		<h:inputText value="#{telefonoController.telefono.persoanCodigoTemporal}" id="txtNombre" />
		<h:message for="txtNombre"/>
		<h:outputLabel value="Telefonos" />
		
		
		
		
		
	
		<h:outputText value="" />
		<h:commandButton action="#{telefonoController.cargarDatos()}" value="Guardar" />
		
		
	
	</h:panelGrid>
	
	
	

</h:form>


</body> 
</html>
